h1,
p {
  margin-bottom: 0;
}

/* utilities */
.sh-header {
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.28);
}

.sh-btn {
  box-shadow: 0px 10px 50px 5px rgba(135, 135, 135, 0.3);
}
.ws-nwrap {
  white-space: nowrap;
}

.mx-120 {
  max-width: 120px !important;
}

.h81 {
  height: 81px;
}

/* text-color */
.text-pink {
  color: #ff77a0;
}
.text-red {
  color: #e63956 !important;
}
.text-dark-blue {
  color: #110f48;
}
.text-gray {
  color: #818181;
}
.text-purple {
  color: #ff6bf9;
}

.text-green {
  color: #57c970;
}
.text-blue {
  color: #59b0f1;
}
.text-verdant {
  color: #5bb2b8;
}

/* background color */
.bg-card01 {
  background-color: #dddde6;
}
.bg-light-gray {
  background-color: #dddde6;
}
.bg-green {
  background-color: #57c970 !important;
}
.bg-purple {
  background-color: #ff6bf9 !important ;
}
.bg-red {
  background-color: #e63956 !important;
}
.bg-dark-blue {
  background-color: #110f48 !important;
}
.bg-gray {
  background-color: #818181;
}
.bg-pink {
  background-color: #ff77a0;
}

.bg-verdant {
  background-color: #5bb2b8;
}

.bg-blue {
  background-color: #59b0f1;
}

/* font-size */
.font-36 {
  font-size: 36px;
}
.font-18 {
  font-size: 18px;
}
.font-24 {
  font-size: 24px;
}

.font-17 {
  font-size: 17px;
}

.font-14 {
  font-size: 14px;
}
.font-12 {
  font-size: 12px;
}

/* font-weight */
.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-200 {
  font-weight: 200;
}

/* border-radius */
.br-20 {
  border-radius: 20px;
}

/* border-color */
.br-purple {
  border: 1px solid #ff6bf9;
}
.br-red {
  border: 1px solid #e63956;
}
.br-verdant {
  border: 1px solid #5bb2b8;
}
.br-blue {
  border: 1px solid #59b0f1;
}
/* br-dashed */
.br-dashed-dark-blue {
  border: 1px dashed #110f48;
}

.radius-l-20 {
  -webkit-border-top-left-radius: 20px !important;
  -webkit-border-bottom-left-radius: 20px !important;
  -moz-border-radius-topleft: 20px !important;
  -moz-border-radius-bottomleft: 20px !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.br-green {
  border: 1px solid #57c970;
}
.br-blue {
  border: 1px solid #59b0f1;
}

.br-dark-blue {
  border: 2px solid #110f48;
}

.content02 {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* display: flex; */
}
.content02-50 {
  width: 60%;
  height: 60%;
  background-color: #ffffff;
  /* display: flex; */
}
.content02-40 {
  width: 40%;
  height: 40%;
  background-color: #ffffff;
  /* display: flex; */
}
.side-left {
  width: 6%;
  background: #dddde6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  z-index: 2;
  top: 0;
}

.side-left .wrap-img {
  margin-top: 30%;
  /* background: #110F48; */
  border: 1px solid transparent;
  padding: 14% 28% 14% 17%;
  border-radius: 18px;
  /* width: 96px; */
  margin-left: 25px;
  display: flex;
  position: relative;
  z-index: 9999;
  /* border: 1px solid black; */
}

.side-left .wrap-img:hover {
  cursor: pointer;
}

.side-left .wrap-img:hover .item-hover {
  display: block;
}

.side-left .wrap-img svg {
  margin-right: 17px;
}

.side-left .wrap-img:hover svg path {
  cursor: pointer;
  stroke: white;
}

.side-left .wrap-img .item-hover {
  position: absolute;
  color: white;
  background-color: #110f48;
  border: 1px solid black;
  height: 100%;
  width: fit-content;
  border-radius: 18px;
  top: 0;
  left: 0;
  padding: 14% 28% 14% 59%;
  display: none;
}

.side-left .wrap-img .item-hover span {
  white-space: nowrap;
  color: white;
}

.side-left .wrap-img svg {
  position: relative;
  z-index: 99;
}

.side-left .wrap-img .item-hovers {
  position: absolute;
  color: white;
  background-color: #110f48;
  border: 1px solid black;
  height: 100%;
  width: 128px;
  border-radius: 18px;
  top: 0;
  left: 0;
  padding: 14% 28% 14% 59%;
  display: none;
}

.side-left .wrap-img:hover .item-hovers {
  display: block;
}

.side-left .wrap-img .item-hover-sub {
  position: absolute;
  color: white;
  background-color: #110f48;
  border: 1px solid black;
  height: 100%;
  width: fit-content;
  border-radius: 18px;
  top: 0;
  left: 0;
  padding: 10px 20px;
  display: block;
  top: 56px;
  left: 49px;
  white-space: nowrap;
}

.side-left .wrap-img .item-hover-sub2 {
  position: absolute;
  color: white;
  background-color: #110f48;
  border: 1px solid black;
  height: 100%;
  width: fit-content;
  border-radius: 18px;
  top: 0;
  left: 0;
  padding: 10px 20px;
  display: block;
  top: 56px;
  left: 49px;
  white-space: nowrap;
}

.side-left .wrap-img .item-hover-sub:last-child {
  top: 112px;
}

.side-left .wrap-img .item-hover-sub2:last-child {
  top: 51px;
}

.side-left .wrap-img:hover .item-hover-sub {
  display: block;
}

.asd {
  border: 1px solid transparent;
  width: 169px;
  height: 193px;
}
.asd2 {
  border: 1px solid transparent;
  width: 169px;
  height: 103px;
}

.side-right {
  /* width: 94%; */
  width: 100%;
  /* background-color: red; */
  height: 100vh;
  /* margin-left: 6%; */
  padding-left: 6%;
  position: relative;
}

.wrap-spiner {
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  top: 30%;
}

.side-right .content-sr {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  padding-left: 3%;
  padding-right: 1%;
  padding-top: 3%;
  overflow: hidden;
}

.bullet {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #818181;
  top: -4px;
  /* left: 19px; */
  position: relative;
}

.bullet2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.track3 {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  height: 22px;
  position: relative;
}
.value-track3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  background-color: #110f48;
  z-index: 1;
}
.wrap-bulet-text3 {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bullet-track3 {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.unit-4 {
  position: absolute;
  white-space: nowrap;
  top: 100%;
  left: -36px;
  font-size: 12px;
}
.unit-3 {
  position: absolute;
  right: 0;
  font-size: 12px;
}

.track2 {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  height: 22px;
  position: relative;
}
.value-track2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  background-color: #110f48;
  z-index: 1;
}
.wrap-bulet-text {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bullet-track2 {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.unit-1 {
  position: absolute;
  white-space: nowrap;
  top: 100%;
  left: -36px;
  font-size: 12px;
}
.unit-2 {
  position: absolute;
  right: 0;
  font-size: 12px;
}

/* .scrol-card .wrap-card01 .card01 .sub-card */

.scrol-card {
  width: 100%;
  overflow-x: scroll;
  display: flex;
}

.scrol-card::-webkit-scrollbar {
  display: none;
}

.wrap-card01 {
  min-width: 130px;
  margin-right: 20px;
}

.wrap-card01 p {
  text-align: left;
}

.wrap-card01 .bullet2 {
  width: 12px;
  position: relative;
  top: 4px;
  height: 11px;
}

.wrap-card01 .card01 {
  /* background: #E63956; */
  width: 100%;
  border-radius: 20px;
  padding: 7px;
}

.wrap-card01 .card01 p {
  text-align: center;
  margin-top: 5px;
}

.wrap-card01 .card01 .sub-card {
  background-color: white;
  width: 100%;
  height: 111px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header outlite*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 81px; */
  padding: 0 30px;
  /* background-color: red; */
  position: fixed;
  top: 0;
  width: 94%;
  z-index: 1;
}

.content02 {
  position: relative;
  top: 83px;
}
.content02-50 {
  position: relative;
  top: 83px;
}
.content02-40 {
  position: relative;
  top: 83px;
}

.content02 .card01:last-child {
  margin-bottom: 30px;
}
.content02-50 .card01:last-child {
  margin-bottom: 30px;
}
.content02-40 .card01:last-child {
  margin-bottom: 30px;
}

.card01 .active {
  background: #110f48;
  padding: 4px 10px;
  border-radius: 20px;
  color: white !important;
}

.header .wrap-search,
.header .wrap-select {
  width: 100%;
  height: auto;
  position: relative;
}

.header .wrap-select select {
  appearance: none;
}

.header .wrap-select img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  z-index: 1;
}

.header .wrap-search input[type="text"] {
  padding-left: 40px;
}
.header .wrap-search img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  z-index: 1;
}

.header .btn {
  white-space: nowrap;
}
/* content card01 */
.wrap-img01 {
  height: 156px;
  width: 156px;
  border-radius: 20px;
  background-color: white;
}

.wrap-img03 {
  min-width: 131px;
  width: 131px;
  max-width: 131px;
  height: 131px;
  background-color: white;
  border-radius: 20px;
}

/* style product */
/* .wrap-product{
  position: relative;
  top: 149px;
  width: 94% !important;
  left: 30px;
  right: 30px;
  padding: 0 24px;
} */

.product {
  position: relative;
  top: 149px;
  width: 94% !important;
  left: 30px;
  right: 30px;
  padding: 0 24px;
}

.bullet03 {
  min-width: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
}

.product .wrap-img {
  width: 64px;
  height: 64px;
  border-radius: 20px;
  background-color: #110f48;
}

.hr-right {
  width: 3px;
  height: 51px;
  background-color: white;
  border-radius: 20px;
}

.hr-right02 {
  width: 3px;
  height: 100px;
  background-color: white;
  border-radius: 20px;
}

/* modal-right */

.overlay-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #0000008c;
  z-index: 999;
  top: -8px;
  left: 0;
}

.modal-right {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100vh;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  right: 0;
  z-index: 9999999;
  top: -8px;
}

.modal-right .wrap-img {
  width: 131px;
  height: 131px;
  border-radius: 20px;
  background-color: #dddde6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-right .wrap-select {
  width: 100%;
  height: auto;
  position: relative;
}

.modal-right .wrap-select select {
  appearance: none;
}

.modal-right .wrap-select img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  z-index: 1;
}

/* variant */
.product .wrap-select {
  width: 100%;
  height: auto;
  position: relative;
}

.product .wrap-select select {
  appearance: none;
}

.product .wrap-select img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  z-index: 1;
}

.product .wrap-search input[type="text"] {
  padding-left: 40px;
}
.product .wrap-search img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  z-index: 1;
}

/* devices */

.devices {
  position: relative;
  top: 160px;
}

.devicespriview {
  position: relative;
  top: 60px;
}

@media (max-width: 1243px) {
  .card01 {
    width: 88% !important;
  }
}

@media (max-width: 1172px) {
  .card01 {
    width: 80% !important;
  }
}

@media (max-width: 1069px) {
  .card01 {
    width: 75% !important;
  }
}

@media (max-width: 1101px) {
  .card01 {
    width: 70% !important;
  }
}

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

/* Simple Reset */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.content-login {
  width: 100%;
  height: 100vh;
  background: transparent linear-gradient(180deg, #4fdfbd 0%, #36c3d8 100%) 0% 0% no-repeat padding-box;
  position: relative;
  overflow: hidden;
}

.content-login .bg-1 {
  position: absolute;
  left: 0;
  width: 50%;
}

.content-login .bg-2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 4%;
}

.form-login {
  height: 75%;
  width: 35%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
  padding: 37px;
}

.form-login h1 {
  font-size: 20px;
}

.form-login input::placeholder {
  color: #dedede;
}

.form-login input:focus {
  box-shadow: 0px 3px 6px #0000001f;
}

.form-login .btn {
  background: transparent linear-gradient(180deg, #4ad9c2 0%, #36c3d7 100%) 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.drp-down2 {
  /* height: fit-content; */
  padding: 0;
  margin: 0;
}

.drp-down2.show {
  top: -31px !important;
  left: -10px !important;
}

.drp-down2 .dropdown-item {
  background-color: #dddde6;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:focus,
.dropdown-toggle:hover {
  color: inherit;
  border: none;
  outline: none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: inherit;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
